@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
// font-family: 'PT Serif', serif;

* {
  font-family: 'PT Serif', serif;
}

$fihr-bold: #fccd55;
$no-color: #fff;

// figcaption {
//   text-align: center;
// }

.add-link {
  align-items: center;
  display: flex;
}

.add-patient {
  align-items: center;
  display: flex;
  height: 50px;
  justify-content: center;
  margin: 20px;
}

.delete-button {
  background-color: transparent;
  border: $no-color;
}

.delete-patient {
  height: 20px;
}

.edit-patient {
  height: 23px;
}

.home-greeting {
  align-content: center;
  display: flex;
  font-size: 5.5rem;
  justify-content: center;
  margin: 20%;
}

.navbar-left {
  font-size: 60px;
  height: 100px;
}

.navbar-right {
  height: 50px;
}

.navbar-text,
.navbar-unauth {
  align-items: center;
  display: flex;
}

::placeholder {
  font-style: italic;
}
