@import '~bootstrap/scss/bootstrap';

$fihr-bold: #fccd55;
$no-color: #fff;

// figcaption {
//   text-align: center;
// }

.add-patient {
  height: 50px;
}

.delete-button,
.edit-button {
  background-color: transparent;
  border: $no-color;
}

.delete-patient {
  height: 20px;
}

.edit-patient {
  height: 23px;
}

.navbar-left {
  font-size: 60px;
  height: 100px;
}

.navbar-right {
  height: 50px;
}

::placeholder {
  font-style: italic;
}
